<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="kr.ivlis.ivlyricsandroid.EmbeddedSmokeActivity" android:exported="true"
            android:launchMode="singleTop" android:theme="@style/AppTheme" />
    </application>
</manifest>
